@font-face {
  font-family: "Source Sans 3";
  font-weight: 200 900;
  src: url(/assets/ss3.woff2) format(woff2);
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 200 900;
  font-style: italic;
  src: url(/assets/ss3i.woff2) format(woff2);
}

body {
  font: 500 20px "Source Sans 3";
  color: #d8d0d5;
  background: #151515;
  margin: 0;
}

h1 {
  font-size: 1.8rem;
}

h2,
h3 {
  font-size: 1.5rem;
}

h2::before {
  content: "∷ ";
  color: #979ae8;
}

pre,
code {
  font-family: monospace;
  font-variant-ligatures: none;
}

strong, em {
  color: #e8d097;
}
i {
  color: #909090;
}
b {
  color: #ca97e8;
}
a {
  color: #d895ee;
}

sup {
  font-size: 0.7em;
}

ul li::marker {
  content: "⇒ ";
  color: #979ae8;
}

input {
  all: unset;
}
