/** font {{{1 *****************************************************************/
@font-face {
  font-family: "Source Sans 3";
  font-weight: 200 900;
  src: url(/assets/ss3.woff2) format(woff2), url(/assets/ss3.ttf);
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 200 900;
  font-style: italic;
  src: url(/assets/ss3i.woff2) format(woff2), url(/assets/ss3i.ttf);
}

/** {{{1 **********************************************************************/
:root {
  color: #d8d0d5;
  background: linear-gradient(#b68ec8e0, #9161a9d0),
    url("data:image/gif;base64,R0lGODdhEAAMAIAAAJhqsLaOyCH5BAgKAAAALAAAAAAQAAwAAAIkRAypa+F6GEInMvfwhI1XmH1aUj0XlZFUU1rS6oqoq0o0vEoFADs");
  font: 500 14pt "Source Sans 3", sans-serif;
  min-height: 100%;
}

body {
  display: grid;
  gap: 8px;
  max-width: 210mm;
  margin: 0;
  padding: 8px;
  overflow-wrap: anywhere;
}

header,
main,
section,
footer {
  overflow-x: hidden;
  background: linear-gradient(#151515 80%, #1a1a1a);
  padding: 0 1em;
}
footer {
  font-weight: 400;
  text-shadow: 0 0 2px #000;
  color: #aca4a9;
  b,
  a {
    color: #a372c1;
  }
}

h1,
h2,
h3 {
  margin: 1rem 0;
  border-bottom: 2px solid #333;
}
h1 {
  font-size: 1.8em;
}
header p {
  color: #ababab;
}
nav {
  text-align: right;
  margin: 0 -1em;
  background: #303030;
  a {
    display: inline-block;
    font-weight: normal;
    padding: 0 1em;
    text-decoration: none;
    background: #151515;
  }
}

a[href="/"]::before {
  content: "";
}

/** block {{{1 ****************************************************************/
iframe {
  border: 0;
}

blockquote,
pre,
p,
ul {
  margin: 1rem 0;
}

blockquote {
  border-left: #333 4px solid;
  border-radius: 4px;
  padding-left: 1em;
  color: #ababab;
  p {
    margin: 0;
  }
}

pre,
code {
  color: #97d0e8;
  font: 12pt monospace;
  font-variant-ligatures: none;
}

p code,
ul code {
  background: #1d1922;
  padding: 2px 4px;
  border: 1px #30484a50 solid;
  border-radius: 4px;
}

ul li::marker {
  content: "⇒ ";
  color: #979ae8;
}
hr {
  border-block: 1px solid #333;
}

pre {
  white-space: pre-wrap;
  background: #1d1d1d;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 8px;
}

.footnotes {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}
.footnote-back {
  margin-left: 0.5ch;
}

.meta {
  color: #ababab;
  border-bottom: #333 2px solid;
}

/** inline {{{1 ***************************************************************/
b {
  color: #ca97e8;
}
a,
a code {
  color: #d895ee;
}

sup {
  font-size: 0.7em;
}

.footnote-ref {
  text-decoration: none;
  sup {
    text-decoration: underline;
  }
  sup::before {
    content: "[";
  }
  sup::after {
    content: "]";
  }
}

.keyword {
  color: #d895ee;
  font-weight: bold;
}

code.sourceCode {
  color: #d8d0d5;
}
.kw {
  color: #ca97e8;
}
.dt,
.ot,
.op {
  color: #97d0e8;
}
.dv,
.pp {
  color: #ee95d2;
}
.bu {
  color: #e8d097;
}
.st {
  color: #9be099;
}
.co {
  color: #909090;
}
.fu,
.at {
  color: #979ae8;
}
