body {
  font: 500 20px "Source Sans 3";
  color: #d8d0d5;
  background: #151515;
  margin: 0;
}

h1,
h2,
h3 {
  font-size: 1.5rem;
}

h2::before {
  content: "∷ ";
  color: #979ae8;
}

pre,
code {
  font-family: monospace;
  font-variant-ligatures: none;
}

strong {
  color: #e8d097;
}
b {
  color: #ca97e8;
}
a {
  color: #d895ee;
}

sup {
  font-size: 0.7em;
}

ul li::marker {
  content: "⇒ ";
  color: #979ae8;
}

input {
  all: unset;
}
