@import "base.css";

body {
  display: grid;
  max-width: 42em;
  margin: 20px auto;
  padding: 8px;
}

h1 {
  font-size: 1.8em;
}
header {
  nav {
    code{ color:#d8d0d5; }
    border: none;
    background: none;
    padding: 0 1em;
    margin: 0 -1em;
    background: #1b1b1b;
    border-bottom: 2px solid #404040;
    text-transform: capitalize;
  }
  img {
    border-radius: 8px;
    margin-top: 1em;
    width: 48px;
  }
  p {
    color:#ababab;
  }
}

.meta {
  border-bottom: #333 2px solid;
}

.keyword {
  color: #d895ee;
  font-weight: bold;
}

.info {
  background: #232635;
  border: 2px solid #2f354e;
  border-left: 4px solid #979ae8;
  border-radius: 4px;
  padding: 0 2ch;
  p::before {
    color: #979ae8;
    content: "🛈 Note ";
    display: block;
  }
}

.footnote-ref {
  text-decoration: none;
  sup {
    text-decoration: underline;
  }
  sup::before {
    content: "[";
  }
  sup::after {
    content: "]";
  }
}
.footnotes {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}
.footnote-back {
  margin-left: 0.5ch;
}

code.sourceCode {
  color: #d8d0d5;
}
.kw {
  color: #ca97e8;
}
.dt,
.ot,
.op {
  color: #97d0e8;
}
.dv,
.pp {
  color: #ee95d2;
}
.bu {
  color: #e8d097;
}
.st {
  color: #9be099;
}
.co {
  color: #909090;
}
.fu,
.at {
  color: #979ae8;
}
