@import "base.css";

body {
  width: 80ch;
  margin: 20px auto;
}

header {
  border-bottom: 2px solid #909090;

  h1 {
    font-size: 1.8em;
    margin: 0;
  }
  p {
    margin-top: 0;
    font-style: italic;
  }
  .subtitle {
    color: #909090;
  }
  .meta {
    float: right;
  }
}

.sourceCode {
  white-space: pre-wrap;

  .kw {
    color: #ca97e8;
  }
  .ot,
  .op {
    color: #97d0e8;
  }
  .dv {
    color: #ee95d2;
  }
  .dt {
    color: #e8d097;
  }
  .st {
    color: #9be099;
  }
  .co {
    color: #909090;
  }
}
