@import "base.css";

body {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 120ch;
  margin: 20px auto;
}

main {
  flex: 0 0 80ch;
}

nav {
  flex: min-content;
}

footer {
  flex: 100%;
}

iframe {
  width: 100%;
}
iframe[src="/chat"] {
  height: 2em;
}
