@import "base.css";

article {
  color: #ababab;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 0 1em;
  margin: 8px 0;
  h3 a {
    color: #d8d0d5;
    text-decoration: none;
  }
  p {
    font-style: italic;
  }
}

.frame {
  position: relative;
  background: #1a1a1a;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 8px;
  margin: 1em 0;
}
