@font-face {
  font-family: "Source Sans 3";
  font-weight: 200 900;
  src: url(/assets/ss3.woff2) format(woff2);
}
@font-face {
  font-family: "Source Sans 3";
  font-weight: 200 900;
  font-style: italic;
  src: url(/assets/ss3i.woff2) format(woff2);
}

body {
  color: #d8d0d5;
  font: 500 20px "Source Sans 3";
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  overflow-wrap: anywhere;
}

pre,
code {
  font-family: monospace;
  font-variant-ligatures: none;
}

code {
  color: #97d0e8;
}

strong {
  color: #e8d097;
}
time {
  color: #909090;
}
b {
  color: #ca97e8;
}
a,
a * {
  color: #d895ee;
}

input {
  all: unset;
  background: #0004;
  padding: 6px 12px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
}
